/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 févr. 2014, 22:19:53
    Author     : vortigern
*/


@media (min-width: 768px) {
    div#timelineTopContainer {
        margin-left:40px;
        border-left: 3px solid silver ;
        margin-top:7px ;
        margin-bottom:9px ;
    }

    li.timeline-item {
        margin-left:-54px;
    }

    li.timeline-item img.media-object {
        background-color:white;
    }

    li.searchresult-item
    {

    }
    li.searchresult-item img.media-object {

    }

    li.searchresult-item-tag
    {

    }
    li.searchresult-item-person
    {

    }
    li.searchresult-item-request
    {

    }
    body
    {
        padding: 50px;
    }

}

@media (min-width: 480px) and (max-width: 767px) {
    div#timelineTopContainer {
        margin-left:40px;
        /*border-left: 3px solid silver ;*/
        margin-top:7px ;
        margin-bottom:7px ;
    }

    li.timeline-item {
        margin-left:-55px;
        /*background-color:yellow;*/
    } 
    li.timeline-item img.media-object {
        background-color:white;
    }
    li.searchresult-item
    {

    }
    li.searchresult-item img.media-object {
        background-color:white;
    }

    li.searchresult-item-tag
    {

    }
    li.searchresult-item-person
    {

    }
    li.searchresult-item-request
    {

    }

}

@media (max-width: 479px) {
    div#timelineTopContainer {
        /*margin-left:40px;/*
        /*border-left: 3px solid silver ;*/
        margin-top:7px ;
        margin-bottom:7px ;
    }

    li.timeline-item {
        /*margin-left:-55px;*/
        /*background-color:pink;*/
    }   

    li.timeline-item img.media-object {
        display:none;
    }  
    li.searchresult-item
    {

    }
    li.searchresult-item img.media-object {
        display:none;
    }

    li.searchresult-item-tag
    {

    }
    li.searchresult-item-person
    {

    }
    li.searchresult-item-request
    {

    }

}


button#leftSearchButton {
    display:none;
}

button#rightSearchButton {
    display:none;
}

input#leftSearchBox {
    width:84.5%;
}

input#rightSearchBox {
    width:84.5%;
}

li.selected-searchresult-item
{
    border: dotted 2px orange;
    padding: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

li.selected-timeline-item
{
    border: dotted 2px orange;
    padding: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
