
<%@ page import="com.booleanworks.ring1.v1.AppRequestMap" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'appRequestMap.label', default: 'AppRequestMap')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-appRequestMap" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-appRequestMap" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<g:sortableColumn property="url" title="${message(code: 'appRequestMap.url.label', default: 'Url')}" />
					
						<g:sortableColumn property="configAttribute" title="${message(code: 'appRequestMap.configAttribute.label', default: 'Config Attribute')}" />
					
						<g:sortableColumn property="httpMethod" title="${message(code: 'appRequestMap.httpMethod.label', default: 'Http Method')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${appRequestMapInstanceList}" status="i" var="appRequestMapInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${appRequestMapInstance.id}">${fieldValue(bean: appRequestMapInstance, field: "url")}</g:link></td>
					
						<td>${fieldValue(bean: appRequestMapInstance, field: "configAttribute")}</td>
					
						<td>${fieldValue(bean: appRequestMapInstance, field: "httpMethod")}</td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${appRequestMapInstanceCount ?: 0}" />
			</div>
		</div>
	</body>
</html>
