
<%@ page import="com.booleanworks.ring1.v1.Activity" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'activity.label', default: 'Activity')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-activity" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-activity" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<g:sortableColumn property="shortDescription" title="${message(code: 'activity.shortDescription.label', default: 'Short Description')}" />
					
						<g:sortableColumn property="longDescription" title="${message(code: 'activity.longDescription.label', default: 'Long Description')}" />
					
						<th><g:message code="activity.owner.label" default="Owner" /></th>
					
						<g:sortableColumn property="realWorkHours" title="${message(code: 'activity.realWorkHours.label', default: 'Real Work Hours')}" />
					
						<g:sortableColumn property="dateCreated" title="${message(code: 'activity.dateCreated.label', default: 'Date Created')}" />
					
						<g:sortableColumn property="lastUpdated" title="${message(code: 'activity.lastUpdated.label', default: 'Last Updated')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${activityInstanceList}" status="i" var="activityInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${activityInstance.id}">${fieldValue(bean: activityInstance, field: "shortDescription")}</g:link></td>
					
						<td>${fieldValue(bean: activityInstance, field: "longDescription")}</td>
					
						<td>${fieldValue(bean: activityInstance, field: "owner")}</td>
					
						<td>${fieldValue(bean: activityInstance, field: "realWorkHours")}</td>
					
						<td><g:formatDate date="${activityInstance.dateCreated}" /></td>
					
						<td><g:formatDate date="${activityInstance.lastUpdated}" /></td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${activityInstanceCount ?: 0}" />
			</div>
		</div>
	</body>
</html>
