<!--
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
-->

<%@ page import="com.booleanworks.ring1.v1.*" %>

<%@ page contentType="text/html;charset=UTF-8" %>


<g:each var="activity" in="${activityList}">
    <g:include action="get_single_activity" id="${activity.id}" />
</g:each>
