
<%@ page import="com.booleanworks.ring1.v1.TaskToTaskLink" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'taskToTaskLink.label', default: 'TaskToTaskLink')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-taskToTaskLink" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-taskToTaskLink" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list taskToTaskLink">
			
				<g:if test="${taskToTaskLinkInstance?.dateCreated}">
				<li class="fieldcontain">
					<span id="dateCreated-label" class="property-label"><g:message code="taskToTaskLink.dateCreated.label" default="Date Created" /></span>
					
						<span class="property-value" aria-labelledby="dateCreated-label"><g:formatDate date="${taskToTaskLinkInstance?.dateCreated}" /></span>
					
				</li>
				</g:if>
			
				<g:if test="${taskToTaskLinkInstance?.lastUpdated}">
				<li class="fieldcontain">
					<span id="lastUpdated-label" class="property-label"><g:message code="taskToTaskLink.lastUpdated.label" default="Last Updated" /></span>
					
						<span class="property-value" aria-labelledby="lastUpdated-label"><g:formatDate date="${taskToTaskLinkInstance?.lastUpdated}" /></span>
					
				</li>
				</g:if>
			
				<g:if test="${taskToTaskLinkInstance?.destinationTask}">
				<li class="fieldcontain">
					<span id="destinationTask-label" class="property-label"><g:message code="taskToTaskLink.destinationTask.label" default="Destination Task" /></span>
					
						<span class="property-value" aria-labelledby="destinationTask-label"><g:link controller="task" action="show" id="${taskToTaskLinkInstance?.destinationTask?.id}">${taskToTaskLinkInstance?.destinationTask?.encodeAsHTML()}</g:link></span>
					
				</li>
				</g:if>
			
				<g:if test="${taskToTaskLinkInstance?.sourceTask}">
				<li class="fieldcontain">
					<span id="sourceTask-label" class="property-label"><g:message code="taskToTaskLink.sourceTask.label" default="Source Task" /></span>
					
						<span class="property-value" aria-labelledby="sourceTask-label"><g:link controller="task" action="show" id="${taskToTaskLinkInstance?.sourceTask?.id}">${taskToTaskLinkInstance?.sourceTask?.encodeAsHTML()}</g:link></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form url="[resource:taskToTaskLinkInstance, action:'delete']" method="DELETE">
				<fieldset class="buttons">
					<g:link class="edit" action="edit" resource="${taskToTaskLinkInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
